//= require owl.carousel

// when rails admin ready
$(document).on('rails_admin.dom_ready', function() {
  $('.fc-container').sortable({
    revert: true,
    placeholder: 'ui-sortable-placeholder',
    handle: '.fc-tools__btn--move',
    cursor: 'move',
  });

  $('.fc-item').each(function() {
    autocomplete($(this).attr('id'));
    addEventToInputFile($(this).attr('id'));
  });

  $('.fc-tools__input--upload').each(function() {
    addEventToInputFile($(this).attr('id'));
  });

  $('.fc-form').on('submit', function(e) {
    slideDestroy($('.slide'));

    var content = $('.fc-container').html();
    $('#content').attr('value', content);
  });

  editable();
  slideActive($('.slide'));
});

// when click on tools buttons
$(document).on('click', '.fc-tools__btn', function(e) {
  e.preventDefault();
});

// when click on upload button
$(document).on('click', '.fc-tools__btn--upload', function() {
  $($(this).attr('href')).find('input').trigger('click');
});

// when click on slide add button
$(document).on('click', '.fc-tools__btn--slide-add', function(e) {
  slideAdd($('.slide'), $(this));
});

// when click on slide remove button
$(document).on('click', '.fc-tools__btn--slide-remove', function(e) {
  var resp = confirm('<%= I18n.t('admin.actions.featured_content.delete_block')%>');

  if(resp) {
    slideRemove($('.slide'), $(this));
  }
});

// when click on delete button
$(document).on('click', '.fc-tools__btn--delete', function() {
  var resp = confirm('<%= I18n.t('admin.actions.featured_content.delete_block')%>');

  if(resp) {
    $($(this).attr('href')).remove();
  }
});

// when click on snippet buttons
$(document).on('click', '.fc-snippet__btn', function(e) {
  e.preventDefault();

  var snippet = $(this).attr('data-snippet');
  var container = $('.fc-container');
  var row_id = generateID();
  var section_id = generateID();

  switch (snippet) {
    case '1':
    var element = '<div id="'+ row_id +'" class="fc-row">';
    element += '<div class="fc-tools">';
    element += '<a class="fc-tools__btn fc-tools__btn--move fa fa-arrows" href="#"></a>';
    element += '<a class="fc-tools__btn fc-tools__btn--delete fa fa-trash" href="#'+ row_id + '"></a>';
    element += '</div>';

    element += '<section id="'+ section_id +'" class="fc-item feed__item feed__item--border">';
    element += '<input class="fc-search" type="text" name="search" placeholder="Buscar notícia">';
    element += '<a href="#" class="feed__link feed__link--absolute"></a>';
    element += '<h1 class="feed__title feed__title--highlight">Nova Andradina participará da 2ª Semana Nacional da Conciliação Trabalhista</h1>';
    element += '</section>';
    element += '</div>';

    container.append(element);
    autocomplete(section_id);
    scrollTo(row_id);
    break;

    case '2':
    var element = '<div id="'+ row_id +'" class="fc-row">';
    element += '<div class="fc-tools">';
    element += '<a class="fc-tools__btn fc-tools__btn--move fa fa-arrows" href="#"></a>';
    element += '<a class="fc-tools__btn fc-tools__btn--delete fa fa-trash" href="#'+ row_id +'"></a>';
    element += '</div>';

    element += '<section id="'+ section_id +'" class="fc-item feed__item feed__item--border">';
    element += '<a href="#" class="feed__link feed__link--absolute"></a>';
    element += '<input class="fc-search" type="text" name="search" placeholder="Buscar notícia">';
    element += '<h1 class="feed__title feed__title--large">Nova Andradina participará da 2ª Semana Nacional da Conciliação Trabalhista</h1>';
    element += '<p class="feed__text">A Vara do Trabalho de Nova Andradina, a exemplo das demais Varas Trabalhistas de Mato Grosso do Sul, solicita a inclusão do processo na Semana da Conciliação</p>';
    element += '</section>';
    element += '</div>';

    container.append(element);
    autocomplete(section_id);
    scrollTo(row_id);
    break;

    case '3':
    var sections = [];

    var element = '<div id="'+ row_id +'" class="fc-row">';
    element += '<div class="fc-tools">';
    element += '<a class="fc-tools__btn fc-tools__btn--move fa fa-arrows" href="#"></a>';
    element += '<a class="fc-tools__btn fc-tools__btn--delete fa fa-trash" href="#'+ row_id +'"></a>';
    element += '</div>';

    element += '<div class="feed__item feed__item--border">';
    element += '<div class="slide">';

    for(var i = 0; i < 3; i++) {
      element += '<div class="fc-item" id="'+ section_id +'">';
      element += '<input class="fc-search" type="text" name="search" placeholder="Buscar notícia">';
      element += '<section class="slide__item">';
      element += '<div class="fc-tools fc-tools--slide">';
      element += '<a class="fc-tools__btn fc-tools__btn--slide-add fa fa-plus" href="#'+ section_id +'"></a>';
      element += '<a class="fc-tools__btn fc-tools__btn--slide-remove fa fa-trash" href="#'+ section_id +'"></a>';
      element += '</div>';
      element += '<a href="#" class="slide__link"></a>';
      element += '<h2 class="slide__caption">Corporação de Bombeiros</h2>';
      element += '<div class="slide__content">';
      element += '<h1 class="slide__title">Distrito de Nova Casa Verde passa a contar com Unidade de Resgate dos Bombeiros</h1>';
      element += '<p class="slide__text">Os serviços já podem ser acionados pelo telefone 193. Atendimento está disponível todos os dias da semana</p>';
      element += '</div>';
      element += '<figure class="slide__figure">';
      element += '<img class="slide__image" src="<%= image_url('image-default.jpg') %>">';
      element += '<a class="fc-tools__btn fc-tools__btn--upload fa fa-camera" href="#'+ section_id + '"></a>';
      element += '<input class="fc-tools__input fc-tools__input--upload" type="file" name="image" id="'+ section_id +'">';
      element += '</figure>';
      element += '</section>';
      element += '</div>';

      sections.push(section_id);
      section_id = generateID();
    }

    element += '</div>';
    element += '</div>';
    element += '</div>';

    container.append(element);

    for(var i = 0; i < sections.length; i++) {
      autocomplete(sections[i]);
      addEventToInputFile(sections[i]);
    }

    scrollTo(row_id);
    slideActive($('.slide'));
    break;

    case '4':
    var sections = [];

    var element = '<div id="'+ row_id +'" class="fc-row">';
    element += '<div class="fc-tools">';
    element += '<a class="fc-tools__btn fc-tools__btn--move fa fa-arrows" href="#"></a>';
    element += '<a class="fc-tools__btn fc-tools__btn--delete fa fa-trash" href="#'+ row_id +'"></a>';
    element += '</div>';

    element += '<div class="feed__row">';

    for(var i = 0; i < 3; i++) {
      element += '<section id="'+ section_id +'" class="fc-item feed__item feed__item--three feed__item--border">';
      element += '<input class="fc-search" type="text" name="search" placeholder="Buscar notícia">';
      element += '<a href="#" class="feed__link feed__link--absolute"></a>';
      element += '<h2 class="feed__caption">Trânsito</h2>';
      element += '<figure class="feed__figure feed__figure--block feed__figure--large">';
      element += '<img class="feed__image" src="<%= image_url('image-default.jpg') %>">';
      element += '<a class="fc-tools__btn fc-tools__btn--upload fa fa-camera" href="#'+ section_id + '"></a>';
      element += '<input class="fc-tools__input fc-tools__input--upload" type="file" name="image" id="'+ section_id +'">';
      element += '</figure>';
      element += '<h1 class="feed__title feed__title--small">Colisão deixa motociclista ferido no centro de Nova Andradina</h1>';
      element += '<p class="feed__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam rerum minus impedit quasi maiores in id fuga quod, neque ipsum</p>';
      element += '</section>';

      sections.push(section_id);
      section_id = generateID();
    }

    element += '</div>';
    element += '</div>';

    container.append(element);

    for(var i = 0; i < sections.length; i++) {
      autocomplete(sections[i]);
      addEventToInputFile(sections[i]);
    }

    scrollTo(row_id);
    break;
  }

  editable();
});

// slide active
var slideActive = function(container) {
  if(container) {
    container.owlCarousel({
      singleItem: true,
      slideSpeed: 500,
      autoPlay: 8000,
      stopOnHover: true,
      paginationSpeed: 500,
      rewindSpeed: 1000,
      navigation: true,
      touchDrag: false,
      mouseDrag: false,
      navigationText: ['&lsaquo;','&rsaquo;']
    });
  }
};

// slide destroy
var slideDestroy = function(container) {
  if(container.length) {
    container.data('owlCarousel').destroy();
  }
}

// slide add
var slideAdd = function(container, reference) {
  section_id = generateID();

  var element = '<div class="fc-item" id="'+ section_id +'">';
  element += '<input class="fc-search" type="text" name="search" placeholder="Buscar notícia">';
  element += '<section class="slide__item">';
  element += '<div class="fc-tools fc-tools--slide">';
  element += '<a class="fc-tools__btn fc-tools__btn--slide-add fa fa-plus" href="#'+ section_id +'"></a>';
  element += '<a class="fc-tools__btn fc-tools__btn--slide-remove fa fa-trash" href="#'+ section_id +'"></a>';
  element += '</div>';
  element += '<a href="#" class="slide__link"></a>';
  element += '<h2 class="slide__caption">Corporação de Bombeiros</h2>';
  element += '<div class="slide__content">';
  element += '<h1 class="slide__title">Distrito de Nova Casa Verde passa a contar com Unidade de Resgate dos Bombeiros</h1>';
  element += '<p class="slide__text">Os serviços já podem ser acionados pelo telefone 193. Atendimento está disponível todos os dias da semana</p>';
  element += '</div>';
  element += '<figure class="slide__figure">';
  element += '<img class="slide__image" src="<%= image_url('image-default.jpg') %>">';
  element += '<a class="fc-tools__btn fc-tools__btn--upload fa fa-camera" href="#'+ section_id + '"></a>';
  element += '<input class="fc-tools__input fc-tools__input--upload" type="file" name="image" id="'+ section_id +'">';
  element += '</figure>';
  element += '</section>';
  element += '</div>';

  var items = $('.fc-item');

  for(i = 0; i < items.length; i++) {
    if('#' + items[i].id == reference.attr('href')) {
      container.data('owlCarousel').addItem(element, [i]);
      container.data('owlCarousel').goTo(i);
    }
  }

  autocomplete(section_id);
  addEventToInputFile(section_id);
  editable();
}

// slide remove
var slideRemove = function(container, reference) {
  var items = $('.fc-item');

  for(i = 0; i < items.length; i++) {
    if('#' + items[i].id == reference.attr('href')) {
      container.data('owlCarousel').removeItem(i - 1);
      container.data('owlCarousel').goTo(i - 1);
    }
  }
}

// add event on input file
var addEventToInputFile = function(id) {
  $('#' + id + ' input:file').on('change', fileSelectAndUpload);
};

// upload file via ajax
var fileSelectAndUpload = function(evt) {
  var file = evt.target.files[0];

  if(file) {
    var formData = new FormData();
    formData.append('featured_content_image', file);

    $.ajax({
      url: 'create_images',
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      type: 'PUT',
      beforeSend: function() {
        $('#' + evt.target.id).find('figure').append('<div class="fc-loading"></div>');
      },
      complete: function(){
        $('.fc-loading').remove();
      }
    }).done(function(e) {
      $('#' + evt.target.id).find('img').attr('src', e.image.thumb.url);
    }).fail(function(e) {
      alert('error: ' + e);
    });
  }
};

// when click on feed links
$(document).on('click', '.feed__link', function(e) {
  e.preventDefault();
});

$(document).on('click', '.slide__link', function(e) {
  e.preventDefault();
});

// scroll to
var scrollTo = function(id) {
  if(id) {
    $('html, body').animate({
      scrollTop: $('#' + id).offset().top
    }, 400);
  }
};

// generate random id
var generateID = function() {
  return '_' + Math.random().toString(36).substr(2, 9);
};

// content editable
var editable = function() {
  $('.feed__title').attr('contenteditable', 'true');
  $('.feed__text').attr('contenteditable', 'true');
  $('.feed__caption').attr('contenteditable', 'true');
  $('.slide__caption').attr('contenteditable', 'true');
  $('.slide__title').attr('contenteditable', 'true');
  $('.slide__text').attr('contenteditable', 'true');
}

autocomplete = function(id) {
  $('#' + id + ' input:text').autocomplete({
    source: "search_content",
    minLength: 2,
    select: function(event, ui) {
      $("#" + id + ' h1').text(ui.item.title);
      $("#" + id + ' p').text(ui.item.summary);
      $("#" + id + ' .feed__link').attr('href', '/noticias/categoria/' + ui.item.slug);
      //$("#" + id + ' slide__link').text(ui.item.slug);
      return false;
    }
  }).autocomplete("instance")._renderItem = function( ul, item ) {
    return $( "<li>" )
        .append( "<a>" + item.title + "</a>" )
        .appendTo( ul );
  };
};
